<!-- featured pricing button  -->
<button type="submit" class="w-full" aria-label="Learn more">
  <!-- wrapper  -->
  <div
    class="{=$class} bg-background-4 group/submit-button-v2 font-ibm-plex-mono text-tagline-2 text-background-11 h-full max-h-[52px] w-full shrink-0 cursor-pointer rounded-2xl stroke-0 p-1 font-normal first-letter:uppercase"
  >
    <div class="flex items-center gap-x-4">
      <!-- icon wrapper  -->
      <div
        class="{=$icon-class} relative z-20 h-11 w-[60px] overflow-hidden rounded-[13px]"
        aria-hidden="true"
      >
        <div
          class="{=$icon-class} absolute inset-0 z-10 size-full overflow-hidden bg-linear-to-r from-[#ffffff00] from-0% to-[#000000] to-100%"
          aria-hidden="true"
        >
          <div
            class="bg-opai-purple {=$icon-class} absolute z-20 flex size-full items-center justify-center overflow-hidden"
            style="box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.4) inset"
          >
            <!-- icon  -->
            <span
              class="relative flex size-6 items-center justify-center overflow-hidden"
              aria-hidden="true"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 14 14"
                class="absolute size-[14px] translate-x-0 fill-white/80 transition-all duration-500 ease-in-out group-hover/submit-button-v2:translate-x-[140%]"
              >
                <path d="M6 0H8V2H6V0Z" />
                <path d="M0 0H2V2H0V0Z" />
                <path d="M9 3H11V5H9V3Z" />
                <path d="M3 3H5V5H3V3Z" />
                <path d="M12 6H14V8H12V6Z" />
                <path d="M6 6H8V8H6V6Z" />
                <path d="M9 9H11V11H9V9Z" />
                <path d="M3 9H5V11H3V9Z" />
                <path d="M6 12H8V14H6V12Z" />
                <path d="M0 12H2V14H0V12Z" />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 14 14"
                class="absolute size-[14px] -translate-x-[140%] fill-white/80 transition-all duration-500 ease-in-out group-hover/submit-button-v2:translate-x-0"
              >
                <path d="M6 0H8V2H6V0Z" />
                <path d="M0 0H2V2H0V0Z" />
                <path d="M9 3H11V5H9V3Z" />
                <path d="M3 3H5V5H3V3Z" />
                <path d="M12 6H14V8H12V6Z" />
                <path d="M6 6H8V8H6V6Z" />
                <path d="M9 9H11V11H9V9Z" />
                <path d="M3 9H5V11H3V9Z" />
                <path d="M6 12H8V14H6V12Z" />
                <path d="M0 12H2V14H0V12Z" />
              </svg>
            </span>
          </div>
        </div>
      </div>
      <!-- content  -->
      <span class="{=$button-text-class} pr-5" aria-hidden="true"> {=$button-text} </span>
    </div>
  </div>
</button>
