<section class="lp:py-39! py-20 md:py-28">
  <div class="main-container">
    <div class="space-y-17.5">
      <!-- content  -->
      <div class="space-y-3 text-center">
        <h2
          data-text-reveal
          id="track-record-heading"
          class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 mx-auto text-center font-normal tracking-[-2.4px]"
          itemprop="name"
        >
          Our proven track record
        </h2>
        <p
          data-text-reveal
          data-delay="0.2"
          class="font-inter-tight text-tagline-1 text-background-13/60 mx-auto text-center font-normal"
          itemprop="description"
        >
          See how we've delivered measurable success to our clients.
        </p>
      </div>

      <!-- cards  -->
      <div class="flex flex-col items-center gap-x-2 gap-y-4 md:flex-row md:gap-y-0">
        <!-- card one  -->
        <div data-opai-animate data-delay="0.3" class="w-full">
          <Component
            src="src/components/shared/card/services-card.htm"
            title="Deep Learning"
            description="Train multi-layer Neural Networks for complex pattern recognition and prediction."
            icon="ns-shape-30"
          />
        </div>
        <!-- card two  -->
        <div data-opai-animate data-delay="0.4" class="w-full">
          <Component
            src="src/components/shared/card/services-card.htm"
            title="Computer Vision"
            description="Image and video analysis powered by convolution Neural Networks (CNNs)."
            icon="ns-shape-31"
          />
        </div>
      </div>
    </div>
  </div>
</section>
