<!-- integration -->
<section class="lp:pb-39! pt-28 pb-20 md:pt-39 md:pb-28">
  <div class="main-container">
    <div class="space-y-14">
      <!-- text  -->
      <div class="space-y-3 text-center">
        <h2
          data-text-reveal
          id="ecosystem-heading"
          class="text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 font-sora font-normal tracking-[-2.4px]"
        >
          Rozdi Agency works with your ecosystem
        </h2>
        <p
          data-text-reveal
          data-delay="0.2"
          class="font-inter-tight text-tagline-2 text-background-13/50 font-normal"
          itemprop="description"
        >
          Rozdi Agency works with your ecosystem
        </p>
      </div>

      <!-- cards  -->
      <div
        class="grid grid-cols-12 items-center justify-center gap-4 md:gap-2"
        role="list"
        aria-label="Platform integrations"
      >
        <!-- card one   -->

        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/slack.svg"
          alt="Rozdi Agency"
          title="Slack"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.1"
        />

        <!-- card two   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/discord.svg"
          alt="Rozdi Agency"
          title="Discord"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.2"
        />
        <!-- card three   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/telegram.svg"
          alt="Rozdi Agency"
          title="Telegram"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.3"
        />
        <!-- card four   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/messenger-dark.svg"
          alt="Rozdi Agency"
          title="Messenger"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.4"
        />
        <!-- card five   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/duolingo.svg"
          alt="Rozdi Agency"
          title="Duolingo"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.5"
        />
        <!-- card six   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/skype.svg"
          alt="Rozdi Agency"
          title="Skype"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.6"
        />
        <!-- card seven   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/netflix.svg"
          alt="Netflix"
          title="Netflix"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.7"
        />
        <!-- card eight   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/confluence.svg"
          alt="Confluence"
          title="Confluence"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.8"
        />
        <!-- card nine   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/claude-ai.svg"
          alt="Claude"
          title="Claude"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.9"
        />
        <!-- card ten   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/behance.svg"
          alt="Behance"
          title="Behance"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.1"
        />
        <!-- card eleven   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/edge.svg"
          alt="Edge"
          title="Edge"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.2"
        />
        <!-- card twelve - Skype -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/skype.svg"
          alt="Skype"
          title="Skype"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.3"
        />
        <!-- card thirteen   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/pinterest.svg"
          alt="Pinterest"
          title="Pinterest"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.4"
        />
        <!-- card fourteen   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/discord.svg"
          alt="Discord"
          title="Discord"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.5"
        />
        <!-- card fifteen   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/jira_service_desk.svg"
          alt="Jira"
          title="Jira"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.6"
        />
        <!-- card sixteen   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/tiktok.svg"
          alt="TikTok"
          title="TikTok"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.7"
        />
        <!-- card seventeen   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/safari.svg"
          alt="Safari"
          title="Safari"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.8"
        />
        <!-- card eighteen   -->
        <Component
          src="src/components/shared/card/ecosystem-card.htm"
          icon="./images/icons/mastar-card.svg"
          alt="Mastercard"
          title="Mastercard"
          description="Send voice-generated alerts directly to team chats."
          role="listitem"
          delay="0.9"
        />
      </div>
    </div>
  </div>
</section>
