<footer class="bg-background-8 pt-[80px] pb-7 md:pt-[120px] xl:pt-[156px]">
  <div class="main-container">
    <div
      data-opai-animate
      data-delay="0.1"
      class="bg-background-5 space-y-16 overflow-hidden rounded-[30px] p-9"
    >
      <div data-opai-animate data-delay="0.2">
        <a href="./index.html" class="block">
          <span class="sr-only">Neural Networks</span>
          <figure class="h-[40px] w-[166px]">
            <img src="./images/shared/dark-logo.svg" alt="logo" class="h-full w-full" />
          </figure>
        </a>
      </div>
      <div class="grid grid-cols-12 gap-y-8 lg:gap-0">
        <div class="col-span-12 grid grid-cols-12 gap-8 lg:col-span-8">
          <div class="col-span-12 sm:col-span-4 lg:pl-6">
            <div data-opai-animate data-delay="0.3" class="space-y-1">
              <p class="text-tagline-2 font-semibold text-white/90">Company</p>
              <ul>
                <li class="py-2">
                  <a
                    href="./about.html"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >About Us</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="./team.html"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Our Team</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="#"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Career</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="./services.html"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Services</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="./case-study.html"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Case Studies</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-span-12 sm:col-span-4 lg:col-span-4">
            <div data-opai-animate data-delay="0.4" class="space-y-1">
              <p class="text-tagline-2 font-semibold text-white/90">Platform</p>
              <ul>
                <li class="py-2">
                  <a
                    href="#"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Features &amp; Capabilities</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="#"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Process &amp; Workflow</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="#"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Security &amp; Compliance</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="./integration.html"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Integrations</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="./pricing.html"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Pricing</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-span-12 sm:col-span-4 lg:col-span-4">
            <div data-opai-animate data-delay="0.5" class="space-y-1">
              <p class="text-tagline-2 font-semibold text-white/90">Resources</p>
              <ul>
                <li class="py-2">
                  <a
                    href="./blog.html"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Blog</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="#"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Tutorial</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="#"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >FAQ</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="#"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Support</a
                  >
                </li>
                <li class="py-2">
                  <a
                    href="./contact.html"
                    class="text-tagline-3 footer-link inline-block font-normal text-white/50 transition-colors duration-500 hover:text-white"
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-4">
          <div class="space-y-8">
            <div class="space-y-4">
              <div data-opai-animate data-delay="0.3" class="space-y-1">
                <p class="text-tagline-2 text-background-11 font-semibold">Address:</p>
                <p class="text-tagline-3 font-normal text-white/50">
                  30 North Gould Street, Sheridan, WY 8280
                </p>
              </div>
              <div data-opai-animate data-delay="0.4">
                <p class="text-tagline-2 text-background-11 mb-1 font-semibold">Contact:</p>
                <p class="text-tagline-3 font-normal text-white/50">1800 123 4567</p>
                <p class="text-tagline-3 font-normal text-white/50">hello@pixels71.com</p>
              </div>
            </div>
            <div data-opai-animate data-delay="0.5" class="space-y-3">
              <form
                action="#"
                class="mx-auto w-full max-w-[550px] space-y-[9px] lg:mx-0 lg:max-w-full"
              >
                <fieldset>
                  <input
                    type="email"
                    aria-label="Enter your email"
                    placeholder="Enter your email"
                    required
                    class="border-stroke-3/30 bg-background-6 placeholder:text-tagline-3 text-background-8 text-tagline-3 block h-13 w-full rounded-md border px-3 py-[11px] font-normal placeholder:font-normal placeholder:text-white/60 focus:outline-none"
                  />
                </fieldset>

                <!-- button -->
                <div class="w-full">
                  <Component
                    src="src/components/shared/button/submit-button-v2.htm"
                    button-text="Subscribe now"
                    class="bg-background-7! text-background-13! rounded-md!"
                    icon-class="!rounded-sm"
                  />
                </div>
              </form>

              <p class="text-tagline-4 font-normal text-white/60">
                By subscribing you agree to with our
                <a href="#" class="font-medium text-white hover:underline">Privacy Policy</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="border-stroke-1/10 flex flex-col items-center justify-between gap-2.5 border-y px-5 py-3.5 sm:flex-row sm:gap-0 lg:py-5"
      >
        <ul class="flex items-center gap-6">
          <li>
            <a
              href="#"
              class="footer-link font-inter-tight text-tagline-4 font-normal text-white/50"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a
              href="#"
              class="footer-link font-inter-tight text-tagline-4 font-normal text-white/50"
              >Terms of Service</a
            >
          </li>
          <li>
            <a
              href="#"
              class="footer-link font-inter-tight text-tagline-4 font-normal text-white/50"
              >Legal</a
            >
          </li>
        </ul>
        <p class="text-tagline-4 font-normal text-white/50">
          &copy; <span data-footer-year></span> Rozdi Agency. All rights reserved.
        </p>
      </div>
    </div>
  </div>
  <Component src="src/components/shared/package-link.htm" />
  <!-- SCRIPT -->
  <script type="module" src="/src/main.js"></script>
</footer>
