<section class="pt-24 pb-6 xl:pt-44 xl:pb-0">
  <div class="main-container">
    <div
      data-opai-animate
      data-delay="0.1"
      class="rounded-3xl bg-white px-3.5 py-20 lg:px-0 xl:py-44"
    >
      <div>
        <div class="text-center">
          <h1
            data-text-reveal
            data-delay="0.2"
            class="font-sora text-background-13/90 text-[60px] leading-[70px] font-normal sm:text-[120px] sm:leading-[180px] md:text-[160px] xl:text-[200px] xl:leading-[240px] xl:tracking-[-10px]"
          >
            404
          </h1>
          <h2
            data-text-reveal
            data-delay="0.3"
            class="lg:text-sora-heading-2 sm:text-sora-heading-4 text-sora-heading-5 text-background-13/90 mb-3 font-normal"
          >
            Oops! Page<br class="hidden md:block" />
            Not Found
          </h2>
          <p
            data-text-reveal
            data-delay="0.4"
            class="text-tagline-2 text-background-13/60 mx-auto max-w-xs font-normal"
          >
            The page doesn’t exist or was moved. Don’t worry, we’ll guide you back.
          </p>
          <div
            data-opai-animate
            data-delay="0.5"
            data-instant
            class="mt-10 flex justify-center text-center lg:mt-18"
          >
            <Component
              src="src/components/shared/button/link-primary.htm"
              button-text="Back to Home"
              href="/"
              anchor-class="w-auto"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
