<!-- team hero section -->
<!-- team section -->
<section class="lp:pb-39! pt-28 pb-20 md:pt-39 md:pb-28">
  <div class="main-container">
    <div class="space-y-19">
      <div class="space-y-3 text-center">
        <h2
          data-text-reveal
          class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 font-normal"
        >
          The minds Behind Rozdi Agency
        </h2>
        <p
          data-text-reveal
          data-delay="0.2"
          class="font-inter-tight text-tagline-2 text-background-13/60 mx-auto max-w-[500px] font-normal"
        >
          Our team brings together deep expertise in AI, design, and technology to build tools that
          empower your creativity and productivity.
        </p>
      </div>

      <div class="grid grid-cols-12 items-center gap-x-2 gap-y-4 md:gap-y-2">
        <!-- card one  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-09.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>

        <!-- card two  -->
        <div data-opai-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-10.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>

        <!-- card three  -->
        <div data-opai-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-11.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>

        <!-- card four  -->
        <div data-opai-animate data-delay="0.1" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-12.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>

        <!-- card five  -->
        <div data-opai-animate data-delay="0.2" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-13.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>

        <!-- card six  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-15.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>
        <!-- card seven  -->
        <div data-opai-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-16.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>
        <!-- card eight  -->
        <div data-opai-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-17.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>
        <!-- card nine  -->
        <div data-opai-animate data-delay="0.6" class="col-span-12 md:col-span-6 lg:col-span-4">
          <a href="./team-details.html">
            <Component
              src="src/components/shared/card/team-card.htm"
              image="./images/opai-avatar-img-18.png"
              name="Edward Anderson"
              position="Marketing coordinator"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
