<!-- vision and mission section -->
<section class="lp:py-44! py-20 md:py-25 lg:py-30">
  <div class="main-container">
    <div class="space-y-18">
      <div
        class="md:tems-center flex flex-col gap-x-25 gap-y-10 md:flex-row md:justify-between md:gap-y-0"
      >
        <div class="w-full max-w-[300px] basis-3/5 space-y-1">
          <h2
            data-text-reveal
            class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 font-normal"
          >
            Building the future of AI
          </h2>
          <p
            data-text-reveal
            data-delay="0.2"
            class="font-inter-tight text-tagline-2 text-background-13/60 font-normal"
          >
            Committed to driving progress through innovative and simplified AI solutions.
          </p>
        </div>
        <div class="w-full max-w-[248px] basis-1/5 space-y-1">
          <h2
            data-text-reveal
            data-delay="0.1"
            class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 font-normal"
          >
            Vision
          </h2>
          <p
            data-text-reveal
            data-delay="0.2"
            class="font-inter-tight text-tagline-2 text-background-13/60 font-normal"
          >
            To empower every business with tools that drive smarter, faster decisions.
          </p>
        </div>
        <div class="w-full max-w-[248px] basis-1/5 space-y-1">
          <h2
            data-text-reveal
            class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 font-normal"
          >
            Mission
          </h2>
          <p
            data-text-reveal
            data-delay="0.2"
            class="font-inter-tight text-tagline-2 text-background-13/60 font-normal"
          >
            To develop easy-to-use AI solutions that solve real-world challenges and help businesses
            thrive.
          </p>
        </div>
      </div>

      <!-- cards  -->
      <div class="grid grid-cols-12 gap-x-2 gap-y-4 md:gap-y-2">
        <!-- card one  -->
        <div
          data-opai-animate
          data-delay="0.1"
          class="col-span-12 row-span-2 md:col-span-6 lg:col-span-4"
        >
          <div
            class="bg-background-1 flex h-[550px] w-full flex-col justify-between rounded-3xl px-5 py-10 md:px-8 md:py-14"
          >
            <div class="space-y-3">
              <h3 class="font-sora text-sora-heading-4 font-normal text-white">Freelance</h3>
              <p class="font-inter-tight text-tagline-2 font-normal text-white/60">
                Delivering Possibilities, Globally: We are dedicated to connecting innovative ideas
                across borders and cultures. Our mission is to empower individuals and organizations
                by fostering collaboration and creativity. With a focus on sustainability and
                technological advancement, we strive to create a brighter future for everyone.
              </p>
            </div>

            <!-- avatars  -->
            <div class="flex items-center gap-x-4">
              <div class="flex -space-x-4">
                <figure class="size-11.5 overflow-hidden rounded-full outline-2 outline-white">
                  <img src="./images/opai-avatar-img-25.png" alt="avatar one" />
                </figure>
                <figure class="size-11.5 overflow-hidden rounded-full outline-2 outline-white">
                  <img src="./images/opai-avatar-img-04.png" alt="avatar one" />
                </figure>
                <figure class="size-11.5 overflow-hidden rounded-full outline-2 outline-white">
                  <img src="./images/opai-avatar-img-02.png" alt="avatar one" />
                </figure>
                <p
                  class="font-inter-tight text-tagline-4 text-background-13 flex size-11.5 items-center justify-center overflow-hidden rounded-full bg-white"
                >
                  +233
                </p>
              </div>

              <div class="space-y-1">
                <div class="flex items-center gap-x-1">
                  <Component
                    src="src/components/shared/icon/star-v2.htm"
                    class="size-5 fill-white"
                  />
                  <Component
                    src="src/components/shared/icon/star-v2.htm"
                    class="size-5 fill-white"
                  />
                  <Component
                    src="src/components/shared/icon/star-v2.htm"
                    class="size-5 fill-white"
                  />
                  <Component
                    src="src/components/shared/icon/star-v2.htm"
                    class="size-5 fill-white"
                  />
                  <Component
                    src="src/components/shared/icon/star-v2.htm"
                    class="size-5 fill-white"
                  />
                </div>
                <p class="font-inter-tight text-tagline-3 font-normal text-white/60">
                  Happy by 20k+ clients
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- card two  -->
        <div data-opai-animate data-delay="0.2" class="col-span-12 md:col-span-6 lg:col-span-4">
          <div class="flex h-[271px] w-full items-end rounded-3xl bg-white p-5 md:p-8">
            <div class="w-full space-y-2">
              <div class="flex items-center justify-between">
                <h3
                  class="font-sora text-sora-heading-4 text-background-13 flex items-center font-normal"
                >
                  <span
                    data-counter
                    data-number="255"
                    data-speed="1400"
                    data-interval="200"
                    data-rooms="3"
                    data-height-space="2.1"
                    >255</span
                  >+
                </h3>
                <span class="inline-block size-[33px]">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33" fill="none">
                    <path
                      d="M16.5 0.5C16.5 12.5019 17.9138 15.0862 22.1551 10.8449C17.9138 15.0862 20.4981 16.5 32.5 16.5C20.4981 16.5 17.9138 17.9138 22.1551 22.1551C17.9138 17.9138 16.5 20.4981 16.5 32.5C16.5 20.4981 15.0862 17.9138 10.8449 22.1551C15.0862 17.9138 12.5019 16.5 0.5 16.5C12.5019 16.5 15.0862 15.0862 10.8449 10.8449C15.0862 15.0862 16.5 12.5019 16.5 0.5Z"
                      stroke="#12161F"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </div>
              <p class="font-inter-tight text-tagline-2 text-background-13/60 font-normal">
                Happy clients worldwide
              </p>
            </div>
          </div>
        </div>
        <!-- card three  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6 lg:col-span-4">
          <div class="flex h-[271px] w-full items-end rounded-3xl bg-white p-5 md:p-8">
            <div class="w-full space-y-2">
              <div class="flex items-center justify-between">
                <h3
                  class="font-sora text-sora-heading-4 text-background-13 flex items-center font-normal"
                >
                  <span
                    data-counter
                    data-number="55"
                    data-speed="1400"
                    data-interval="200"
                    data-rooms="2"
                    data-height-space="2.1"
                    >55</span
                  >%
                </h3>
                <span class="inline-block size-[33px]">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33" fill="none">
                    <path
                      d="M16.502 0.5C16.502 10.7222 18.1509 14.0867 21.4444 10.5935C18.1468 14.0867 21.832 14.6267 32.5 12.2134C21.8361 14.6267 19.1691 17.2436 24.499 20.0722C19.165 17.2477 19.7956 20.9444 26.3869 31.1667C19.7998 20.9403 16.502 19.1957 16.502 25.9247C16.502 19.1957 13.2044 20.9403 6.6131 31.1625C13.2044 20.9403 13.835 17.2436 8.50102 20.0681C13.835 17.2436 11.168 14.6225 0.5 12.2093C11.1639 14.6225 14.8491 14.0826 11.5555 10.5893C14.8532 14.0867 16.502 10.7222 16.502 0.5Z"
                      stroke="#12161F"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </div>
              <p class="font-inter-tight text-tagline-2 text-background-13/60 font-normal">
                Reduction in manual work
              </p>
            </div>
          </div>
        </div>
        <!-- card four  -->
        <div data-opai-animate data-delay="0.4" class="col-span-12 md:col-span-6 lg:col-span-4">
          <div class="flex h-[271px] w-full items-end rounded-3xl bg-white p-5 md:p-8">
            <div class="w-full space-y-2">
              <div class="flex items-center justify-between">
                <h3
                  class="font-sora text-sora-heading-4 text-background-13 flex items-center font-normal"
                >
                  <span
                    data-counter
                    data-number="300"
                    data-speed="1400"
                    data-interval="200"
                    data-rooms="3"
                    data-height-space="2"
                    >300</span
                  >+
                </h3>
                <span class="inline-block size-[33px]">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 32" fill="none">
                    <path
                      d="M0.5 12C2.63333 22.6667 4.76667 22.6667 6.9 12C9.03333 22.6667 11.1667 22.6667 13.3 12C15.4333 22.6667 17.5667 22.6667 19.7 12C21.8333 22.6667 23.9667 22.6667 26.1 12C28.2333 22.6667 30.3667 22.6667 32.5 12"
                      stroke="#12161F"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </div>
              <p class="font-inter-tight text-tagline-2 text-background-13/60 font-normal">
                Hours saved per month
              </p>
            </div>
          </div>
        </div>
        <!-- card five  -->
        <div data-opai-animate data-delay="0.5" class="col-span-12 md:col-span-6 lg:col-span-4">
          <div class="flex h-[271px] w-full items-end rounded-3xl bg-white p-5 md:p-8">
            <div class="w-full space-y-2">
              <div class="flex items-center justify-between">
                <h3
                  class="font-sora text-sora-heading-4 text-background-13 flex items-center font-normal"
                >
                  <span
                    data-counter
                    data-number="45"
                    data-speed="1400"
                    data-interval="200"
                    data-rooms="2"
                    data-height-space="2.1"
                    >45</span
                  >%
                </h3>
                <span class="inline-block size-[33px]">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 33" fill="none">
                    <path
                      d="M15.9087 0.5V14.6068M15.9087 32.5V18.1488M8 16.5H14.327M24 16.5H17.3688M19.4981 12.042L16.943 15.2307M12.3802 20.4695L14.7742 17.6603M19.0722 20.4695L16.943 17.6603M12.3802 12.042L14.7742 15.2307"
                      stroke="#12161F"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </span>
              </div>
              <p class="font-inter-tight text-tagline-2 text-background-13/60 font-normal">
                Increase in overall efficiency
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
