<!-- clients section -->
<section
  class="{=$class} pt-[45px] md:pt-[85px]"
  aria-label="Our clients and partners"
  itemscope
  itemtype="https://schema.org/ItemList"
>
  <div class="main-container">
    <div
      data-opai-animate
      data-delay="0.1"
      class="flex size-full items-center justify-evenly max-sm:gap-x-3"
      role="list"
      aria-label="Client logos"
    >
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/scapic-metal-without-text.svg"
          alt="Scapic logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/notion-metal-without-text.svg"
          alt="Notion logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/hotjar-metal-without-text.svg"
          alt="Hotjar logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/discord-metal-without-text.svg"
          alt="Discord logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/dropbox-metal-without-text.svg"
          alt="Dropbox logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/stripe-metal-without-text.svg"
          alt="Stripe logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/spotify-metal-without-text.svg"
          alt="Spotify logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/asana-metal-without-text.svg"
          alt="Asana logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
      <figure class="h-11 w-7" role="listitem" itemscope itemtype="https://schema.org/Organization">
        <img
          src="./images/icons/secure-space-metal-without-text.svg"
          alt="Secure Space logo"
          class="size-full"
          itemprop="logo"
        />
      </figure>
    </div>
  </div>
</section>
