<!-- =========================
CTA section
===========================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[112px] xl:pt-[100px] border-t border-stroke-4 dark:border-stroke-6 dark:bg-background-5"
>
  <div class="main-container">
    <div class="text-center max-w-[649px] mx-auto">
      <span data-opai-animate data-delay="0.1" class="badge badge-cyan mb-5"> Let's start</span>
      <h2 data-opai-animate data-delay="0.2" class="font-sora text-sora-heading-3 md:text-sora-heading-2 text-background-13/90 dark:text-white/90 font-normal mb-3">Ready to grow smarter?</h2>
      <p data-opai-animate data-delay="0.3" class="font-inter-tight text-tagline-2 text-background-13/60 dark:text-white/60 font-normal mb-6">
        Let’s make your marketing budget work harder—not bigger. Book your strategy call today and
        take the first step toward predictable growth.
      </p>

      <div data-opai-animate data-delay="0.4" class="flex justify-center">
        <Component
          src="src/components/shared/button/link-primary.htm"
          button-text="Book your free strategy call"
          href="./contact.html"
        />
      </div>
    </div>
  </div>
</section>
