<!-- ==============
Services Section
================= -->

<section
  class="pt-14 pb-[220px] sm:pb-14 md:pt-16 md:pb-16 lg:pt-[88px] lg:pb-[88px] xl:pt-[100px] xl:pb-[100px]"
>
  <div class="main-container">
    <div
      class="flex flex-col items-start justify-center max-md:gap-y-18 md:flex-row md:justify-between md:gap-x-[120px]"
    >
      <!-- Left: Intro -->
      <div class="lg:sticky lg:top-28">
        <span data-opai-animate data-delay="0.1" class="badge badge-cyan mb-5">
          Services overview
        </span>
        <div class="mb-14 space-y-2 md:max-w-[595px]">
          <h2 data-opai-animate data-delay="0.2" class="font-sora text-sora-heading-3 md:text-sora-heading-2 text-background-13 font-normal">
            Our performance-focused services.
          </h2>
          <p data-opai-animate data-delay="0.3" class="font-inter-tight text-tagline-2 text-background-13/70 font-normal max-w-[512px]">
            Smart, secure, and designed for simplicity—Rozdi Agency empowers you to take control effortlessly.
          </p>
        </div>
        <div data-opai-animate data-delay="0.4">
          <Component
            src="src/components/shared/button/link-primary.htm"
            button-text="View full breakdown"
            href="./services.html"
          />
        </div>
      </div>
      <!-- Right: Features List -->
      <div class="stack-cards js-stack-cards w-full max-w-xl">
        <div
          class="stack-cards__item js-stack-cards__item border border-stroke-3/30 bg-background-8 dark:bg-background-8 z-0 min-h-[170px] space-y-4 rounded-[20px] p-8 shadow-sm"
        >
          <div class="inline-block">
            <span class="ns-shape-25 text-background-13/90 text-[52px]"> </span>
          </div>
          <div>
            <h3 class="text-heading-5 text-black font-semibold">SEO</h3>
            <p class="text-black/75">Enhance visibility, authority, and important keyword rankings.</p>
          </div>
        </div>
        <div
          class="stack-cards__item js-stack-cards__item border border-stroke-3/30 bg-background-8 dark:bg-background-8 relative z-0 min-h-[170px] space-y-4 overflow-hidden rounded-[20px] p-8 shadow-sm"
        >
          <div class="inline-block">
            <span class="ns-shape-19 text-background-13/90 text-[52px]"> </span>
          </div>
          <div>
            <h3 class="text-heading-5 text-black font-semibold">SEM</h3>
            <p class="text-black/75">Data-optimized campaigns designed to attract ready-to-buy audiences.</p>
          </div>
        </div>
        <div
          class="stack-cards__item js-stack-cards__item border border-stroke-3/30 bg-background-8 dark:bg-background-8 relative z-0 min-h-[170px] space-y-4 overflow-hidden rounded-[20px] p-8 shadow-sm"
        >
          <div class="inline-block">
            <span class="ns-shape-17 text-background-13/90 text-[52px]"> </span>
          </div>
          <div>
            <h3 class="text-heading-5 text-black font-semibold">Email marketing & automation</h3>
            <p class="text-black/75">Nurture leads and convert subscribers with timely campaigns.</p>
          </div>
        </div>
        <div
          class="stack-cards__item js-stack-cards__item border border-stroke-3/30 bg-background-8 dark:bg-background-8 relative z-0 min-h-[170px] space-y-4 overflow-hidden rounded-[20px] p-8 shadow-sm"
        >
          <div class="inline-block">
            <span class="ns-shape-34 text-background-13/90 text-[52px]"> </span>
          </div>
          <div>
            <h3 class="text-heading-5 text-black font-semibold">Link building & authority outreach</h3>
            <p class="text-black/75">Secure high-quality backlinks that enhance your SEO.</p>
          </div>
        </div>
        <div
          class="stack-cards__item js-stack-cards__item border border-stroke-3/30 bg-background-8 dark:bg-background-8 relative z-0 min-h-[170px] space-y-4 overflow-hidden rounded-[20px] p-8 shadow-sm"
        >
          <span class="inline-block">
            <svg
              width="52"
              height="52"
              viewBox="0 0 52 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M47.6693 13.4643L26.0026 0.953125L4.33594 13.4643M47.6693 13.4643L26.0026 25.6406M47.6693 13.4643V18.1908L43.1449 20.8227M26.0026 50.998L47.6693 38.1518V33.1116M26.0026 50.998L4.33594 38.1518V33.1116M26.0026 50.998V46.0505M4.33594 13.4643L26.0026 25.6406M4.33594 13.4643V18.1908L8.86032 20.8227M26.0026 25.6406V30.7947M26.0026 30.7947L8.86032 20.8227M26.0026 30.7947L43.1449 20.8227M26.0026 35.8919L47.6693 23.0099M26.0026 35.8919L4.33594 23.0099M26.0026 35.8919V40.9533M47.6693 23.0099V27.9218L43.1449 30.573M47.6693 23.0099L43.1449 20.8227M4.33594 23.0099V27.9218L8.86032 30.573M4.33594 23.0099L8.86032 20.8227M26.0026 40.9533L8.86032 30.573M26.0026 40.9533L43.1449 30.573M26.0026 46.0505L47.6693 33.1116M26.0026 46.0505L4.33594 33.1116M47.6693 33.1116L43.1449 30.573M4.33594 33.1116L8.86032 30.573"
                stroke="black"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-background-13"
              />
            </svg>
          </span>
          <div>
            <h3 class="text-heading-5 text-black font-semibold">Local SEO & google business optimization</h3>
            <p class="text-black/75">Help local customers discover you—first, fast, and frequently.</p>
          </div>
        </div>
        <div
          class="stack-cards__item js-stack-cards__item border border-stroke-3/30 bg-background-8 dark:bg-background-8 relative z-0 min-h-[170px] space-y-4 overflow-hidden rounded-[20px] p-8 shadow-sm"
        >
          <span class="inline-block">
            <svg
              width="52"
              height="52"
              viewBox="0 0 52 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M47.6693 13.4781L26.0026 0.953125L17.317 5.97407M47.6693 13.4781V38.528L26.0026 51.0529M47.6693 13.4781L38.9367 18.5261M26.0026 51.0529V26.003M26.0026 51.0529L17.317 46.032V40.6548M4.33594 13.4781V38.528L12.7853 43.4123M4.33594 13.4781L26.0026 26.003M4.33594 13.4781L12.7853 8.59371L17.317 11.2247M26.0026 26.003L34.4051 21.1458M12.7853 43.4123V29.1393L17.317 32.0697V40.6548M12.7853 43.4123L17.317 40.6548M38.9367 33.6746V18.5261M38.9367 33.6746L34.4051 36.4632V31.0714M38.9367 33.6746L34.4051 31.0714M38.9367 18.5261L17.317 5.97407M34.4051 21.1458V31.0714M34.4051 21.1458L17.317 11.2247M17.317 5.97407V11.2247"
                stroke=""
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-background-13"
              />
            </svg>
          </span>
          <div>
            <h3 class="text-heading-5 text-black font-semibold">Analytics & conversion optimization</h3>
            <p class="text-black/75">Collect data to convert clicks into customers & optimize every dollar spent.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
