<div>
  <div
    class="dropdown-menu-bridge pointer-events-none fixed top-full left-1/2 z-40 h-3 w-full -translate-x-1/2 bg-transparent opacity-0 lg:w-[946px]"
  ></div>
  <div
    id="company-mega-menu-v2"
    class="dropdown-menu border-stroke-2/60 pointer-events-none fixed top-full left-1/2 z-50 mt-2 flex w-full -translate-x-1/2 items-start gap-y-6 rounded-[20px] border bg-white p-4 opacity-0 transition-all duration-300 md:gap-x-6 lg:w-[946px]"
  >
    <div class="flex-1 space-y-3">
      <ul class="space-y-2">
        <li>
          <a href="./about.html" class="group relative flex items-start gap-2 p-3">
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
            >
              <Component src="src/components/shared/menu-icon/about-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">About Us</p>
              <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                See how others are using Rozdi Agency
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="./team.html" class="group relative flex items-start gap-2 p-3">
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
            >
              <Component src="src/components/shared/menu-icon/team-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Our Team</p>
              <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                Dynamic content solutions
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="group relative flex items-start gap-2 p-3">
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
            >
              <Component src="src/components/shared/menu-icon/career-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Career</p>
              <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                Join our team
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="group relative flex items-start gap-2 p-3">
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
            >
              <Component src="src/components/shared/menu-icon/why-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Why Choose Us</p>
              <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                Our unique selling points and competitive advantages
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="flex-1 space-y-3">
      <ul class="space-y-2">
        <li>
          <a href="#" class="group relative flex items-start gap-2 p-3">
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
            >
              <Component src="src/components/shared/menu-icon/manifesto-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Our Manifesto</p>
              <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                Our values and principles
              </p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="group relative flex items-start gap-2 p-3">
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
            >
              <Component src="src/components/shared/menu-icon/customer-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Customers</p>
              <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                Success stories and testimonials
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="./testimonial.html" class="group relative flex items-start gap-2 p-3">
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
            >
              <Component src="src/components/shared/menu-icon/testimonial-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Testimonials</p>
              <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                What our customers say about us
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="./case-study.html" class="group relative flex items-start gap-2 p-3">
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div
              class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
            >
              <Component src="src/components/shared/menu-icon/case-study-icon.htm" />
            </div>
            <div class="relative z-10">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Case Studies</p>
              <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                Real-world examples of our solutions
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <div class="space-y-3">
        <ul class="space-y-2">
          <li>
            <a href="./services.html" class="group relative flex items-start gap-2 p-3">
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/service-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-2 font-sora text-background-13 font-normal">Services</p>
                <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                  Our services and offerings
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="group relative flex items-start gap-2 p-3">
              <Component src="src/components/shared/hover-bg-transform.htm" />
              <div
                class="border-stroke-2 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/use-case-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-2 font-sora text-background-13 font-normal">Use Cases</p>
                <p class="text-tagline-3 font-inter-tight text-background-13/60 font-normal">
                  Real-world examples of our solutions
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <p class="text-tagline-2 font-sora text-background-13/60 p-3 font-medium">What’s new</p>
      <div>
        <figure
          class="group relative min-h-[166px] w-full max-w-full overflow-hidden rounded-[14px]"
        >
          <img
            src="./images/opai-img-400.jpg"
            alt="What’s new"
            class="h-full w-full rounded-[14px] object-cover"
          />

          <div class="absolute top-3 bottom-3 left-3 w-full space-y-5 p-2">
            <div>
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Product updates</p>
              <p
                class="text-tagline-3 font-inter-tight text-background-13/60 w-full max-w-[169px] font-normal"
              >
                Stay ahead with the latest features and improvements.
              </p>
            </div>
            <a
              href="#"
              class="group-hover:bg-opai-purple group bg-background-13 relative flex h-9.5 w-16 items-center justify-center space-y-5 overflow-hidden rounded-[40px] px-5 py-2 ring-[6px] ring-white transition-all duration-500 ease-in-out"
            >
              <figure class="relative size-6 items-center justify-center overflow-hidden">
                <img
                  src="./images/icons/new-arrow-white.svg"
                  alt="new-arrow"
                  class="absolute inset-0 size-full -translate-x-6 object-cover transition-transform duration-400 ease-in-out group-hover:translate-x-1"
                />
                <img
                  src="./images/icons/new-arrow-white.svg"
                  alt="new-arrow"
                  class="size-full object-cover transition-transform duration-400 ease-in-out group-hover:translate-x-6"
                />
              </figure>
            </a>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
