<div>
  <div
    class="dropdown-menu-bridge pointer-events-none fixed top-full left-1/2 z-40 h-3 w-full min-w-[952px] -translate-x-1/2 bg-transparent opacity-0"
  ></div>
  <div
    id="product-mega-menu"
    class="dropdown-menu border-stroke-2/60 pointer-events-none fixed top-full left-1/2 z-50 mt-2 w-full -translate-x-1/2 space-y-6 rounded-[20px] border bg-white p-4 opacity-0 transition-all duration-300 md:w-[952px]"
  >
    <div class="flex items-start gap-y-6 md:gap-x-6">
      <ul class="flex-1 space-y-2">
        <li>
          <a
            href="./login.html"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/login-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Login</p>
              <p class="text-tagline-3 text-background-13/60 font-normal">
                Log into your dashboard
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="./signup.html"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/signin-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Create Account</p>
              <p class="text-tagline-3 text-background-13/60 font-normal">
                Create your free account
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/referral-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">
                Referral Program
              </p>
              <p class="text-tagline-3 text-background-13/60 font-normal">
                Share and earn together
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/affiliate-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">
                Affiliate Program
              </p>
              <p class="text-tagline-3 text-background-13/60 font-normal">
                Earn commissions as partner
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/affiliate-policy.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">
                Affiliate Policy
              </p>
              <p class="text-tagline-3 text-background-13/60 font-normal">
                Understand our policies
              </p>
            </div>
          </a>
        </li>
      </ul>
      <ul class="flex-1 space-y-2">
        <li>
          <a
            href="#"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/terms-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">
                Terms & Conditions
              </p>
              <p class="text-tagline-3 text-background-13/60 font-normal">Understand our terms</p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/privacy-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Privacy Policy</p>
              <p class="text-tagline-3 text-background-13/60 font-normal">
                Understand data protection
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/refund-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Refund Policy</p>
              <p class="text-tagline-3 text-background-13/60 font-normal">Review refund terms</p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/gdpr-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">GDPR</p>
              <p class="text-tagline-3 text-background-13/60 font-normal">
                Review GDPR information
              </p>
            </div>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
          >
            <Component src="src/components/shared/hover-bg-transform.htm" />
            <div class="relative z-10 mt-1.5">
              <Component src="src/components/shared/menu-icon/legal-icon.htm" />
            </div>
            <div class="relative z-10 space-y-0.5">
              <p class="text-tagline-2 font-sora text-background-13 font-normal">Legal</p>
              <p class="text-tagline-3 text-background-13/60 font-normal">Read legal policies</p>
            </div>
          </a>
        </li>
      </ul>
      <figure class="w-full flex-1 space-y-3">
        <p class="text-tagline-3 font-sora text-background-13/60 font-medium">What's New</p>
        <a href="#">
          <figure
            class="group relative min-h-[200px] w-full max-w-full overflow-hidden rounded-[14px]"
          >
            <img
              src="./images/opai-img-419.jpg"
              alt="What's New"
              class="h-full w-full rounded-[14px] object-cover transition-all duration-500 ease-in-out group-hover:scale-105"
            />
            <div
              class="absolute top-4 left-4 size-full space-y-1 transition-all duration-500 ease-in-out group-hover:top-5 group-hover:left-5"
            >
              <p class="text-tagline-2 font-sora font-medium text-white">Product changelog</p>
              <p class="text-tagline-3 w-full max-w-[212px] font-normal text-white/60">
                Access all your workflows, analytics, and integrations in one smart dashboard.
              </p>
            </div>
          </figure>
        </a>
      </figure>
    </div>
  </div>
</div>
