<div>
  <div
    class="dropdown-menu-bridge pointer-events-none absolute top-full left-1/2 z-40 h-3 w-full min-w-[280px] -translate-x-1/2 bg-transparent opacity-0"
  ></div>
  <ul
    id="resources-dropdown-menu-v2"
    class="dropdown-menu shadow-14 border-stroke-2/60 pointer-events-none absolute top-full left-1/2 z-50 mt-2 w-[280px] -translate-x-1/2 rounded-[20px] border bg-white p-3 opacity-0"
  >
    <li>
      <a href="./blog.html" class="group relative flex items-center gap-2 rounded-[10px] p-3">
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <span class="relative z-10">
          <Component src="src/components/shared/menu-icon/blog-icon.htm" />
        </span>
        <span class="text-tagline-2 font-sora text-background-13 relative z-10 font-normal">
          Blog
        </span>
      </a>
    </li>
    <li>
      <a
        href="./integration.html"
        class="group relative flex items-center gap-2 rounded-[10px] p-3"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <span class="relative z-10">
          <Component src="src/components/shared/menu-icon/tutorial-icon.htm" />
        </span>
        <span class="text-tagline-2 font-sora text-background-13 relative z-10 font-normal">
          Integration
        </span>
      </a>
    </li>
    <li>
      <a href="./case-study.html" class="group relative flex items-center gap-2 rounded-[10px] p-3">
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <span class="relative z-10">
          <Component src="src/components/shared/menu-icon/faq-icon.htm" />
        </span>
        <span class="text-tagline-2 font-sora text-background-13 relative z-10 font-normal">
          Case Studies
        </span>
      </a>
    </li>
    <li>
      <a
        href="./testimonial.html"
        class="group relative flex items-center gap-2 rounded-[10px] p-3"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <span class="relative z-10">
          <Component src="src/components/shared/menu-icon/glossary-icon.htm" />
        </span>
        <span class="text-tagline-2 font-sora text-background-13 relative z-10 font-normal">
          Testimonial
        </span>
      </a>
    </li>
    <li>
      <a href="./services.html" class="group relative flex items-center gap-2 rounded-[10px] p-3">
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <span class="relative z-10">
          <Component src="src/components/shared/menu-icon/support-icon.htm" />
        </span>
        <span class="text-tagline-2 font-sora text-background-13 relative z-10 font-normal">
          Services
        </span>
      </a>
    </li>
    <li>
      <a href="./contact.html" class="group relative flex items-center gap-2 rounded-[10px] p-3">
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <span class="relative z-10">
          <Component src="src/components/shared/menu-icon/contact-icon.htm" />
        </span>
        <span class="text-tagline-2 font-sora text-background-13 relative z-10 font-normal">
          Contact
        </span>
      </a>
    </li>
    <li>
      <a href="./team.html" class="group relative flex items-center gap-2 rounded-[10px] p-3">
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <span class="relative z-10">
          <Component src="src/components/shared/menu-icon/success-icon.htm" />
        </span>
        <span class="text-tagline-2 font-sora text-background-13 relative z-10 font-normal">
          Team
        </span>
      </a>
    </li>
  </ul>
</div>
