<!-- blog details related blog section -->
<section class="lp:py-39! py-20 md:py-28">
  <div class="main-container">
    <div class="space-y-[70px]">
      <div class="space-y-3 text-center">
        <h2
          data-text-reveal
          class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 font-normal"
        >
          Related blog
        </h2>
        <p
          data-text-reveal
          data-delay="0.2"
          class="font-inter-tight text-tagline-2 text-background-13/60 font-normal"
        >
          5 AI Tools Every Business Needs to Streamline Operations
        </p>
      </div>

      <!-- cards  -->
      <div class="grid grid-cols-12 items-center justify-center gap-y-4 sm:gap-4">
        <!-- card one  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-16.png"
            date="July 5, 2025"
            img-class="!h-[370px]"
            badge1="Press"
            badge2="Blog"
            title="5 Ways AI is revolutionizing small businesses"
            alt="5 Ways AI is revolutionizing small businesses"
          />
        </div>
        <!-- card one  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-18.png"
            date="July 5, 2025"
            img-class="!h-[370px]"
            badge1="Press"
            badge2="Blog"
            title="5 Ways AI is revolutionizing small businesses"
            alt="5 Ways AI is revolutionizing small businesses"
          />
        </div>
      </div>
    </div>
  </div>
</section>
