<!-- famous blog section -->
<section class="lp:py-39! py-20 md:py-28">
  <div class="main-container">
    <div class="space-y-[70px]">
      <div>
        <h2
          data-text-reveal
          class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 text-center font-normal"
        >
          Don’t miss this
        </h2>
        <p
          data-text-reveal
          data-delay="0.2"
          class="font-inter-tight text-tagline-2 text-background-13/50 text-center font-normal"
        >
          5 AI Tools Every Business Needs to Streamline Operations
        </p>
      </div>
      <div class="grid grid-cols-12 items-center justify-center gap-y-4 sm:gap-4">
        <!-- card one  -->
        <div data-opai-animate data-delay="0.1" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-16.png"
            date="July 5, 2025"
            img-class="!h-[370px]"
            badge1="Press"
            badge2="Blog"
            title="Understanding Activation Functions The Heart of Neural"
          />
        </div>

        <!-- card two  -->
        <div data-opai-animate data-delay="0.2" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-17.png"
            date="July 6, 2025"
            img-class="!h-[370px]"
            badge1="Tech"
            badge2="Blog"
            title="Backpropagation Explained: How Neural Networks Learn"
          />
        </div>

        <!-- card three  -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-18.png"
            date="July 7, 2025"
            img-class="!h-[370px]"
            badge1="Tech"
            badge2="Blog"
            title="Convolutional Neural Networks for Image Recognition"
          />
        </div>

        <!-- card four  -->
        <div data-opai-animate data-delay="0.4" class="col-span-12 md:col-span-6">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-19.png"
            date="July 8, 2025"
            img-class="!h-[370px]"
            badge1="Insights"
            badge2="Blog"
            title="Transfer Learning: Leveraging Pre-trained Neural Networks"
          />
        </div>
      </div>
    </div>
  </div>
</section>
