<!-- hero section -->
<section class="lp:pb-39! pt-28 pb-20 md:pt-39 md:pb-28">
  <div class="main-container">
    <div class="space-y-[70px]">
      <!-- blogs  -->
      <h2
        data-text-reveal
        class="font-sora text-sora-heading-4 md:text-sora-heading-3 lg:text-sora-heading-2 text-background-13/90 text-center font-normal"
      >
         Stay informed, stay ahead
      </h2>
      <div class="grid grid-cols-12 items-center justify-center gap-y-4 sm:gap-4">
        <!-- blog 01 -->

        <div data-opai-animate data-delay="0.2" class="col-span-12 md:col-span-6 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-313.png"
            date="July 5, 2025"
            badge1="Press"
            badge2="Blog"
            title="5 Ways AI is revolutionizing small businesses"
            alt="5 Ways AI is revolutionizing small businesses"
          />
        </div>

        <!-- blog 02 -->
        <div data-opai-animate data-delay="0.3" class="col-span-12 md:col-span-6 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-314.png"
            date="July 6, 2025"
            badge1="Press"
            badge2="Blog"
            title="Predictive analytics what it is and why you need It"
            alt="Predictive analytics what it is and why you need It"
          />
        </div>

        <!-- blog 03 -->
        <div data-opai-animate data-delay="0.4" class="col-span-12 md:col-span-6 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-315.png"
            date="July 7, 2025"
            badge1="Press"
            badge2="Blog"
            title="How to Integrate AI Seamlessly Into Your Existing Systems"
            alt="How to Integrate AI Seamlessly Into Your Existing Systems"
          />
        </div>

        <!-- blog 04 -->
        <div data-opai-animate data-delay="0.5" class="col-span-12 md:col-span-6 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-10.png"
            date="July 8, 2025"
            badge1="Tech"
            badge2="Blog"
            title="Clean Data Pipelines for Neural Networks Training"
            alt="Clean Data Pipelines for Neural Networks Training"
          />
        </div>

        <!-- blog 05 -->
        <div data-opai-animate data-delay="0.6" class="col-span-12 md:col-span-6 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-11.png"
            date="July 9, 2025"
            badge1="Tech"
            badge2="Blog"
            title="Scaling Deep Learning: From Prototype to Production"
            alt="Scaling Deep Learning: From Prototype to Production"
          />
        </div>

        <!-- blog 06 -->
        <div data-opai-animate data-delay="0.7" class="col-span-12 md:col-span-6 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-12.png"
            date="July 10, 2025"
            badge1="Insights"
            badge2="Blog"
            title="Navigating the Future of Neural Networks Deployment"
            alt="Navigating the Future of Neural Networks Deployment"
          />
        </div>

        <!-- blog 07 -->
        <div data-opai-animate data-delay="0.8" class="col-span-12 md:col-span-6 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-13.png"
            date="July 11, 2025"
            badge1="Tech"
            badge2="Blog"
            title="Growing Your AI Stack: Neural Networks Integration Best Practices"
            alt="Growing Your AI Stack: Neural Networks Integration Best Practices"
          />
        </div>

        <!-- blog 08 -->
        <div data-opai-animate data-delay="0.9" class="col-span-12 md:col-span-6 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-14.png"
            date="July 12, 2025"
            badge1="Insights"
            badge2="Blog"
            title="Human-Centric AI: Designing Neural Networks for Trust"
            alt="Human-Centric AI: Designing Neural Networks for Trust"
          />
        </div>

        <!-- blog 09 -->
        <div data-opai-animate data-delay="1.0" class="col-span-12 md:col-span-12 xl:col-span-4">
          <Component
            src="src/components/shared/card/blog-card.htm"
            image="./images/opai-img-15.png"
            date="July 13, 2025"
            badge1="Tech"
            badge2="Blog"
            title="Automating Workflows with Neural Networks APIs"
            alt="Automating Workflows with Neural Networks APIs"
          />
        </div>
      </div>
    </div>
  </div>
</section>
